.stock-container {
  margin-left: 5rem;
}

.stock-container__loader {
  width: 50px; /* keep it the same as the JSX property of the Loader so it can center with 0 auto */
  margin: 1rem auto;
}

/* TODO - covert to rem and remove as much comments as possible not to have load */
.stock-container__description {
  /* 8px to fit with select material, which has 8px left. TODO - convert to rem */
  margin-left: 8px;
  margin-bottom: 1rem;
}

.stock-container__search-input {
  /* 8px to fit with select material, which has 8px left. TODO - convert to rem */
  margin-left: 8px;
  width: 20rem;
}

.stock-container__stock-options {
  display: flex;
}

.stock-container__stock-options__dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 0 2rem 0;
}

.stock-container__stock-options__date-pickers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0 2rem 2rem;
}
