.stock-container {
  margin-left: 5rem;
}

/* .stock-container__description {
} */

.stock-container__loader {
  width: 50px; /* keep it the same as the JSX property of the Loader so it can center with 0 auto */
  margin: 1rem auto;
}

.stock-container__dropdown-list {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0 2rem 0;
}
/* 
.stock-container__dropdown__stock-detail-type {
  margin-bottom: 2rem;
}

.stock-container__dropdown__time-series-type {
  margin-top: 2rem;
  margin-bottom: 1rem;
} */

/* .stock-container__dropdown__time-series-type,
.stock-container__dropdown__stock-detail-type {
  width: 8rem;
} */
