body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/*
TODO - use nice colors (you can change fonts according to the current time/date)

#333 - dark
whitesmoke
#FF2D00 - redish
#04756F - blueish
#2E0927 - dark indigo
#8914A3 - light indigo
#D90000


*/